* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

:root {
  --color-title-background: #2e2f42;
  --color-text: #434455;
  --color-studio: #4d5ae5;
  --alternative-color: #f4f4fd;
  --bacground-color-text: #ffffff;
  --hover-color: #434455;
  --button-color: #E7E9FC;
  --color-footer: #e7e9fc;
  --social-active-color: #31d0aa;
}

.body {
  font-family: "Roboto", sans-serif;
  color:  var(--color-title-background);
  background-color: var(--bacground-color-text);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-tittle{
  vertical-align: inherit;
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
}

.main-text{
font-weight: 600;
font-size: 56px;
line-height: 1.07;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

color: var(--bacground-color-text);
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.button {
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-studio);
  background-color: var(--button-color);
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

.main-button {
  font-family: 'Roboto';
 font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--bacground-color-text);
  background-color: var(--color-studio);
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

.main-button:active {
  background-color: #404bbf;
}


.button-portfolio{
  cursor: pointer;
}

.hero {
  color: var(--bacground-color-text);
  background-color: var(--color-title-background);
  text-align: center;
}

.menu-link  {
  color: var(--color-title-background);
  font-weight: 600;
}


.rubric {
font-weight: 600;
font-size: 36px;
line-height: 2.50;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: var(--color-title-background);
}

.our-team {
  background-color: var(--alternative-color);
}

.our-list {
  text-align: center;
}

.list {
  list-style: none;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus{
  color: var(--hover-color);
}


.link-hover { 
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.50;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: var(--color-title-background);
 }

 .contact-hover {
  /* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: var(--color-text);
 }

 .contact-hover:hover,
 .contact-hover:focus{
  color: var(--color-studio);
 }

.logotype {
  color: var(--color-title-background);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.first-word {
  color: var(--color-studio);
}

.adition-portfolio {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.log-down {
  color: var(--bacground-color-text);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.footer{
  background-color: var(--color-title-background);
  color: var(--color-footer);
}

.caption {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-title-background);
}

.text{
  color: var(--color-text);
}

.adition-portfolio {
  color: var(--color-title-background);
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.text-ind{
font-weight: 600;
font-size: 20px;
line-height: 1.50;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: var(--color-title-background);

}

.text-paar{
font-weight: 400;
font-size: 16px;
line-height: 1.50;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: var(--color-text);
margin-bottom: 12px;
}
.nav {
  display: flex;
  height: 72px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  margin-left: 77px;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logotype {
  text-decoration: none;
  color: var(--color-title-background);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 0;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.first-word {
  color: var(--color-studio);
}
.list {
  margin-left: 74;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu-link {
  display: flex;
}

.menu-link li:not(:last-child) {
  margin-right: 40px;
}

.menu-link a {
  
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--color-title-background);
  font-weight: 600;
}
.link {
  text-decoration: none;
  color: inherit;
}
.link-hover:hover,
.link-hover:focus {
  color: var(--hover-color);
}

.link:active {
  color: var(--color-studio);
}

.link-contacts {
  display: flex;
  margin-left: auto;
}

.link-contacts a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.link-contacts li + li {
  margin-left: 40px;
}

.link-contacts a {
  color: var(--color-text);
}
.contact-hover:hover {
  color: var(--color-studio);
}

.footer {
  padding-top: 100px;
 padding-bottom: 100px;
  background-color: var(--color-title-background);
  color: #e7e9fc;
}

.footer-data {
  margin-left: 156px;
}

.footer-text {
  margin: 0;
  margin-left: 0;
  margin-top: 16px;
  width: 264px;
}








.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero {
  color: var(--bacground-color-text);
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--color-title-background);
  background-image: linear-gradient(to right, #2e2f42b3, #2e2f42b3),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 492px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.main-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--bacground-color-text);
  background-color: var(--color-studio);
  border: 0;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin-top: 48px;
}

.main-button:active {
  background-color: #404bbf;
}

.button {
  padding: 12px 24px;
  border-radius: 4px;
  color: var(--alternative-color);
  background-color: var(--iris);
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  
}

.button:hover,
.button:focus {
  color: var(--alternative-color);
  background-color: var(--color-studio);
  box-shadow: 0px 2px 1px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 1px 6px rgb(46 47 66 / 8%);
}

.button-after {
  background-color: var(--alternative-color);
}

.adition-portfolio {
  margin-bottom: 8px;
}


.first-section{
  padding-top: 120px;
  padding-bottom: 120px;
  
}

.first-section ul {
  display: flex;
}

.first-section ul li {
  width: 264px;
  margin-bottom: 0;
  
}

.first-section ul li h3 {
  margin-top: 0;
}

.first-section ul {
  justify-content: space-between;
}

.p-first {
  margin-top: 8px;
  margin-bottom: 0;
}

.main-list:not(:last-child) {
  margin-right: 24px;
}

.doing {
  padding-top: 0;
  padding-bottom: 120px;
}

.list-doing {
  display: flex;
  justify-content: space-between;
}

.doing-title {
  margin-bottom: 72px;
}

.list-doing > li:not(:last-child) {
  margin-right: 24px;
}

.our-team {
  background-color: var(--alternative-color);
  padding: 120px 0;
}

.caption {
  margin-bottom: 8px;
}


.our-team ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}


.our-team-item {
  padding-bottom: 32px;
  background-color: var(--bacground-color-text);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.rubric {
  margin-bottom: 72px;
}

.person-info {
  margin-top: 32px;
}
.header {
  border-bottom: 0.5px solid #f4f4fd;
  
}
.link-hover-second {
  margin-left: 77px;
}

.second-button {
  color: var(--color-studio);
}

.colection {
  padding-top: 96px;
}

.filter-main {
    padding-bottom: 120px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-item {
  margin-right: 20px;
}

.filter-item:last-child {
  margin-right: 0;
}

.filter > li {
  min-width: 48px;
}

.ours-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 .example-work:hover,
 .example-work:active {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.ours-works > li {
  margin-bottom: 48px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.example-work {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-left: 0.5px solid #f4f4fd;
  border-bottom: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
}

.item-works:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.item-works:not(:nth-child(3n+3)) {
  margin-right: 24px;
}


.item-works > a > img {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header-shadow {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.shadow {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.social-media {
  margin-left: 120px
}

.social-media a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--alternative-color);
}

.footer-ico {
  background-color: var(--hover-color);
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.footer-ico:not(:last-child) {
  margin-right: 16px;
}

.footer-ico:hover,
.footer-ico:active {
  background-color: var(--social-active-color);
}

.foot-list{
  display: flex;
  color:var(--alternative-color)
}

.foot-list > li {
  width: 40px;
  height: 40px;
}

.foot-data{
  display: flex;
}

.foot-data h4 {
  margin: 0;
  margin-bottom: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.person-list {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  gap: 24px;
}

.person-list > li {
  width: 40px;
  height: 40px;
  background-color: var(--color-studio);
  border-radius: 50%;
}

.person-list > li:not(:last-child) {
  margin-right: 24px;
}


.person-ico {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-ico > li {
  fill: var(--alternative-color);
}


.icon {
  display: inline-flex;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  
  color: var(--alternative-color);
  border-radius: 50%;
  fill: var(--alternative-color);
  justify-content: center;
  align-items: center;
}

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.up-footer-tittle {
  margin-bottom: 72px;
}


.up-footer-tittle {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

/* NAVY BLUE */

color: #2E2F42;
}



.list-costumers {
  display: flex;
}

.custom {
  width: 168px;
  height: 88px;

  margin-right: 24px;
}

.custom:last-child {
  margin-right: 0;
}

.custom > a {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom > a:hover,
.custom > a:focus {
  border-color: var(--color-studio);
}

.custom a:hover,
.custom a:focus {
  color: var(--color-studio);
}

.customer-svg {
  fill: currentColor;
}

.customer-svg:focus,
.customer-svg:hover {
  fill: var(--color-studio);
}

.ico {
  width: 64px;
  height: 64px;
}

.ico-a {
  display: flex;

  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.ico-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
}